.add-stock {
  & h2 {
    margin-bottom: 1rem;
  }
  #add-stock-form {
    .stock-ids {
      display: grid;
      grid-template-columns: 1fr 5fr;
      gap: 10px;
    }
    .stock-quantities {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    .btn {
      width: 100%;
    }
  }
}
